{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body" >Your reference number<br><strong id="qr-data">HDJ2123F</strong>
        </div>
      </div>


      <p>
        We have sent you a confirmation email.

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            You can be fined up to £5,000 if you don’t register.
          </strong>
        </div>
      </p>



      


      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your application to Hackney Electoral Register Office.</p>
      <p>They will contact you either to confirm your registration, or to ask for more information.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
