{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Do you have access to an email address?</h1>

    <p>If you do not have an email address, you can use a family member or friend’s email address.</p>
    <p>You need to access this email address later on to order the tests.</p> 

    <form class="form" action="/questions/step_five" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      
      {% set emailHtml %}
      {{ govukInput({
        id: "contact-by-email",
        name: "contact-by-email",
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Email address"
        }
      }) }}
      {% endset -%}
      
      
      {{ govukRadios({
        idPrefix: "contact",
        name: "contact",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select one option."
        },
        items: [
          {
            value: "email",
            text: "Email",
            conditional: { html: emailHtml }
          },
          
          {
            value: "no_email",
            text: "No"
            
          }
          
        ]
      }) }}    
      
      
      
      
      
      
      



        <!-- <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p> -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
