
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}



{% block content %}
<h1 class="govuk-heading-xl">
    Order Details
         
          </h1>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Order ID
              </dt>
              <dd class="govuk-summary-list__value">
               123
              </dd>
             
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Pharmacy Name
              </dt>
              <dd class="govuk-summary-list__value">
                Goots
              </dd>
           
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH
              </dd>
             
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact details
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">07700 900457</p>
                <p class="govuk-body">sarah.phillips@example.com</p>
              </dd>
             
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                 Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">Shipped</p>
                 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> Status</span>
                  </a>
                </dd>
              </div>
          </dl>
  {% endblock %}
