
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK LFT Distribution System
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}



{% block content %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on this service",
  messages: [
    {
      headingText: "Cookies on this service",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          name: "cookies",
          value: "accept"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          name: "cookies",
          value: "reject"
        },
        {
          text: "View cookies",
          href: "#"
        }
      ]
    }
  ]
}) }}
<form action="/auth/step_two" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Enter your email address
      </h1>

      <div class="govuk-form-group">
        </h1>
        <input class="govuk-input" id="event-name" name="event-name" required type="email">
      </div>
  
   
      <button type="submit" class="govuk-button" data-module="govuk-button">
       Continue
      </button>
    </form>

      <p>
        <a href="start.html">Create an account</a>
      </p>

    </div>
  </div>

{% endblock %}
